<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS3300 Portfolio Project</title>

  </head>

  <style>
/*Starting the styling for all the pretty stuff*/

body {
  background-color: #F7F4E9;
  font-family: Arial, Helvetica, sans-serif;
}


.button{
  background-color: #A76753;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: #BC765F;
  border: 20px;
  margin: auto;
}

.navbar-custom {
  background-color: #D48166;
  color: white;
}

.navbar-nav > li > a:hover {
  background-color: blue;
}

.box{
width: 344px;
height: 300px;
border: 3px solid #D48166;
background-color: #D48166;
border-radius: 3px;
color: white;
}

</style>
  

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="color: white" class="navbar-brand" href="#">CS3300</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a style="color: white" href="http://localhost:3000/">Home</a></li>
      <li><a style="color: white" href="/users/sign_in">Sign In/Up</a></li>
      <li><a style="color: white" href="http://localhost/proxy/3000/projects">Projects</a></li>
    </ul>
  </div>
</nav>

<center>
<div class="box">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", :class => "button"%>
  </div>

<% end %>

<%= render "users/shared/links" %>
</center>
</div> 